
// to use heights w/ percentages some top level things need to be explicitly set to 100
html {
  height: 100%;
  body {

    font-family: 'Montserrat', 'Arial', sans-serif;
    height: 100%;
    #app {
      height: 100%;
      main {
        height: 100%;
        .contents {
          height: 90%;
        }
      }
    }
  }
}
